.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/
/assets/highcharts/exporting-server/java/highcharts-export/highcharts-export-web/target/